In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/training.1600000.processed.noemoticon.csv', encoding='latin-1',
                     names=['target', 'id', 'date', 'flag', 'user', 'text'])

In [14]:
user_counts = df['user'].value_counts()
users_with_multiple_tweets = user_counts[user_counts > 1].index

# Step 3: Filter the dataframe
filtered_df = df[df['user'].isin(users_with_multiple_tweets)]
filtered_df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [ ]:
specific_user = 'ElleCTF'
# Filter the DataFrame for the specific user
user_df = df[df['user'] == specific_user]

In [13]:
file_path = 'user_texts.txt'  # Specify the file name

user_df['text'].to_csv(file_path, index=False, header=False)

print(f"Entries saved to {file_path}")

Entries saved to user_texts.txt